<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href="//fonts.googleapis.com/css?family=Bangers&subset=latin" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="css/syntax.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
      <header>
        <div class="content-area">
          <h1>Martyn Davies</h1>
          <h2><a href="https://twitter.com/martynd">@martynd</a></h2>
        </div>
      </header>
      <section class="infospot">
        <div class="content-area center office-hours">
          <h3>I do weekly office hours to help founders and startups. <a href="http://ignitelondon.youcanbook.me" class="link">Why not book some time with me?</a></h3>
        </div>
      </section>
      <section class="section-1">
        <div class="content-area">
          <div class="pure-g-r" style="margin-bottom: 30px;">
            <div class="pure-u-1-2 box">
              <h2>Writings</h2>
              <ul id="writings-list" class="main-list">
                {% for writing in site.data.writings %}
                  {% if site.data.site == sendgrid %}
                    <li class="sendgrid">
                  {% else %}
                    <li class="writing">
                  {% endif %}
                    <a href="{{writing.url}}">{{writing.title}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
            <div class="pure-u-1-2 box">
              <h2>Videos</h2>
                <ul id="writings-list" class="main-list">
                {% for video in site.data.videos %}
                  <li class="video"><a href="{{video.url}}">{{video.title}}</a></li>
                {% endfor %}
              </ul>
            </div>  
          </div>
        </div>
      </section>
    </body>
</html>
